body {
  padding: 2rem;
}
*,
::after,
::before {
  box-sizing: border-box;
}

/* ===fonts=== */
/* choose whatever fonts needed for the project */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Gurmukhi:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Sixtyfour+Convergence:BLED,SCAN,XELA,YELA@0..100,-53..100,-100..100,-100..100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Noto+Sans+Gurmukhi:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Sixtyfour+Convergence:BLED,SCAN,XELA,YELA@0..100,-53..100,-100..100,-100..100&display=swap");

html {
  font-size: 100%;
}
:root {
  /* ===colors=== */
  /* pick whatever color for your project */
  --primary-clr-100: #f1f3ee;
  --primary-clr-200: #d5dccd;
  --primary-clr-300: #c7d0bc;
  --primary-clr-400: #acb99b;
  --primary-clr-500: #90a179;
  --primary-clr-600: #748a58;
  --primary-clr-700: #4d6929;
  --primary-clr-800: #334f0f;
  --primary-clr-900: #283e0c;
  /* ===grey=== */
  --gray-clr-100: #f3f4f6;
  --gray-clr-200: #e5e7eb;
  --gray-clr-300: #d1d5db;
  --gray-clr-400: #9ca3af;
  --gray-clr-500: #6b7280;
  --gray-clr-600: #4b5563;
  --gray-clr-700: #374151;
  --gray-clr-800: #1f2937;
  --gray-clr-900: #111827;
  /*  ===other colors=== */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* ===fonts=== */
  /* change the values with the fonts selected for the project */
  --headingFont: "Spectral", serif;
  --bodyFont: "Jacquarda Bastarda 9", serif;
  --smallTextFont: 0.7em;
  /* ===rest of variables=== */
  --backgroudColor: var(--gray-clr-100);
  --textColor: var(--gray-clr-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --padding: 0.375rem 0.75rem;

  /* === box shadows === */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
body {
  /* width: 100vw; */
  background: var(--backgroudColor);
  font-family: var(--bodyFont);
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
  font-style: normal;
}
p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}
h1 {
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
small,
.text-small {
  font-size: var(--smallTextFont);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

/* ===images=== */
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.container {
  width: 40vw;
  border: 5px solid var(--black);
  border-radius: var(--borderRadius);
}

/* ===buttons=== */
.btn {
  cursor: pointer;
  text-transform: capitalize;
  color: var(--white);
  background: var(--primary-clr-500);
  border: transparent;
  border-radius: var(--borderRadius);
  padding: var(--padding);
  letter-spacing: var(--letterSpacing);
  box-shadow: var(--shadow-2);
  transition: var(--transition);
  display: inline-block;
}
.btn:hover {
  background: var(--primary-clr-700);
  box-shadow: var(--shadow-4);
}
.hipster-btn {
  color: var(--primary-clr-500);
  background: var(--primary-clr-200);
}
.hipster-btn:hover {
  color: var(--primary-clr-200);
  background: var(--primary-clr-700);
}
.block-btn {
  width: 100%;
}

/* ===alerts=== */
.alert {
  border: transparent;
  border-radius: var(--borderRadius);
  padding: var(--padding);
  margin-bottom: 1rem;
}
.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-sucess {
  color: var(--green-dark);
  background: var(--green-light);
}

/* ===form=== */
.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  padding: 2rem 2.5rem;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--smallTextFont);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: var(--padding);
  border-radius: var(--borderRadius);
  background: var(--backgroudColor);
  border: 1px solid var(--gray-clr-200);
}
.form-row {
  margin-bottom: 1rem;
}
.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--gray-clr-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* ===loading animation=== */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  width: 5rem;
  height: 5rem;
  border: 5px solid var(--gray-clr-400);
  border-radius: 50%;
  border-top-color: var(--primary-clr-600);
  animation: spinner infinite 0.6s linear;
  margin: 0 auto;
}

/* ===title=== */
.title {
  text-align: center;
}
.title h2 {
  margin-bottom: 0.25rem;
}
.title-underline {
  height: 0.25rem;
  width: 7rem;
  background: var(--primary-clr-500);
  margin: 0 auto;
}
